version: "3.9"

services:
  db:
    image: postgres:16
    container_name: max_bot_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DATABASE}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  bot:
    build: .
    container_name: max_bot
    restart: always
    env_file:
      - .env
    depends_on:
      - db

volumes:
  pgdata: